@import url('https://fonts.googleapis.com/css?family=Roboto:100,400,700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: 'Roboto', sans-serif;
}

body {
  display: flex;
  background-color: #4ecdc4;
}
.border {
  background-color: #76d8d1;
  border: 20px solid #90e0da;
  border-radius: 20px;
  width: 520px;
}
.container {
  
  width: 30rem;
  margin-left: auto;
  margin-right: auto;
}

.alarm {
  width: 30rem;
  height: 30rem;
  background-size: contain;
  background-image: url('assets/alarm.svg');
}

@keyframes ring {
  0% {
    transform: rotateZ(0deg);
  }
  25% {
    transform: rotateZ(5deg);
  }
  50% {
    transform: rotateZ(0deg);
  }
  75% {
    transform: rotateZ(-5deg);
  }
  100% {
    transform: rotateZ(0deg);
  }
}

.alarm--ring {
  animation: ring 100ms 50;
}
.set{
  display: inline-block;
  margin-top: 2rem;
  margin-left: 3rem;
}
input {
  font-size: 33px;
  padding: 1rem;
  background-color: rgb(255, 255, 255);
  color: rgb(81, 81, 81);
  border: 5px solid rgb(86, 86, 86);
  border-radius: 1rem;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
}
.start {
  font-size: 33px;
  margin-left: 0.5rem;
  padding: 15px;
  background-color: rgb(17, 203, 17);
  border: 5px solid green;
  color: white;
  border-radius: 1rem;
  text-shadow: 2px 2px 2px rgb(56, 56, 56);
}
.start:hover,
.start:active {
  background-color: green;
}
.up {
  display: inline-block;
  margin-left: 13%;
  margin-bottom: 2rem;
}
p {
  font-size: 33px;
  font-weight: 600;
  padding: 1rem;
  background-color: rgb(255, 255, 255);
  color: rgb(81, 81, 81);
  border: 5px solid rgb(86, 86, 86);
  border-radius: 1rem;
  display: inline;
}
.reset {
  font-size: 33px;
  margin-left: 0.7rem;
  padding: 15px;
  background-color: #f32335;
  border: 5px solid #be1e2b;
  color: white;
  border-radius: 1rem;
  text-shadow: 2px 2px 2px rgb(56, 56, 56);
  
}
.reset:hover,
.reset:active {
  background-color: #be1e2b;
}

p:hover {
  background-color: rgb(229, 225, 216);
}
input:hover {
  background-color: rgb(229, 225, 216);
}

